 /* GENERALI */
 .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.float-left{
  float: left;
}

.fr-container-80{
  width: 80%;
  margin-left: 10%;
}

.fr-list-style{
  list-style: none;
  text-decoration: none;
  border-left: 1px solid black;
}

.fr-border-bottom{
  border-bottom: 1px solid white;
}

.fr-bottom-90{
  margin-bottom: 90px;
}

.fr-padding-80{
  padding-top: 80px;
}

.fr-margin-80{
  margin-top: 80px;
}

.fr-padding-30{
  padding-top: 30px;
}

.fr-box-slide{
  
  margin-top: 165px;
}

.fr-box-slide img{
  width: 100%;
}

.fr-box-icon{
  height: 60px;
  width: 60px;
  border: 1px solid black;
  margin-top: 30px;
}


 .fr-color-blue{
   color: #006AFF;
 }
 
 .fr-color-night{
   color: #031C4E;
 }
 
 .fr-text-white{
  color: white;
 }
 
 .fr-font-20{
   font-size: 20px;
 }
 
 .fr-top-90{
   margin-top: 82;
 }

 .fr-bgc-grey{
   background-color: #F3F5F9;
 }
 .fr-bgc-white{
   background-color: white;
 }
 
 /*  HEADER  */

.fr-height-73{
  height: 73px;
}  

header ul li {
  display: inline;
  padding-left: 20px;
  color: #A4ADBE;
 
}

  /*  MAIN  */

  /* JUMBOTRON */
.fr-bgc-blue{
  width: 100%;
  background-color: blue;
}

.fr-container-90{
  width: 90%;
  margin: 0 auto;
}

.fr-color-white{
  color: white;
}

.fr-color-p{
  color: #BBCDFF;
}

.fr-container-font{
  height: 420px;
  text-align: center;
  background-color: white;
  border: 1px solid blue;
  border-radius: 5px;
  margin-bottom: 60px;
}

@media all and (max-width:767px){
  .fr-top-80{
    margin-top: 82px ;
 
  }
}

@media all and (min-width:768px){
  .fr-top-80{
    margin-top: 82px;
    
  }

  .fr-container-font{
    margin-top: 60px;
    max-width: 285px;
    margin-left: 15%;
 
  }
}


/* LOGHI */
main ul li {
  display: inline;
  color: #A4ADBE; 
}

.fr-container-img{
  max-width: 175;
}

@media all and (min-width: 770px) and (max-width: 992px){
  .fr-container-img{
    width: 100px;
  }
}

@media all and (min-width: 992px){
  .fr-container-img{
    width: 170px;
  }
}

  /* DESIGNED DEV  */

  @media all and (max-width: 480px){
    .fr-box-slide{
      max-width: 300px;
      height: 200px;
    }
  }
  
  @media all and (max-width: 990px){
    .fr-box-slide{
      width: 300px;
      height: 200px;
      margin-left: 15%;
    }
  }


@media all and (min-width: 992px) and (max-width:1192px){
  .fr-box-slide{
    width: 375px;
    height: 250px;
    margin-left: 15%;
  }
}

@media all and (min-width: 1192px){
  .fr-box-slide{
    width: 600px;
    height: 390px;
    margin-left: 10%;
  }
}


/* SEZIONE AMSTERDAM */
#amsterdam li{
  display: inline-block;
}

/* SEZIONE ROCKER */
