 /* GENERALI */
 .fr-color-blue{
   color: #006AFF;
 }
 
 .fr-color-night{
   color: #031C4E;
 }
 
 .fr-text-white{
  color: white;
 }
 
 .fr-font-20{
   font-size: 20px;
 }
 
 .fr-top-90{
   margin-top: 82;
 }
 
 /*  HEADER  */

.fr-height-73{
  height: 73px;
}  

header ul li {
  display: inline;
  padding-left: 20px;
  color: #A4ADBE;
 
}

  /*  MAIN  */

  /* JUMBOTRON */
.fr-bgc-blue{
  width: 100%;
  background-color: blue;
}

.fr-container-90{
  width: 90%;
  margin: 0 auto;
}

.fr-color-white{
  color: white;
}

.fr-color-p{
  color: #BBCDFF;
}

.fr-container-font{
  height: 420px;
  text-align: center;
  background-color: white;
  border: 1px solid blue;
  border-radius: 5px;
  margin-bottom: 60px;
}

@media all and (max-width:767px){
  .fr-top-80{
    margin-top: 82px ;
 
  }
}

@media all and (min-width:768px){
  .fr-top-80{
    margin-top: 82px;
    
  }

  .fr-container-font{
    margin-top: 60px;
    max-width: 285px;
    margin-left: 15%;
 
  }
}


/* LOGHI */
main ul li {
  display: inline;

  color: #A4ADBE;
 
}