 /* GENERALI */
 .fr-color-blue{
   color: #006AFF;
 }
 
 .fr-color-night{
   color: #031C4E;
 }
 
 
 
 
 
 
 /*  HEADER  */

.fr-height-73{
  height: 73px;
}  

header ul li {
  display: inline-block;
  padding-left: 20px;
  color: #A4ADBE;
 
}

  /*  MAIN  */

.fr-bgc-blue{
  width: 100%;
  background-color: blue;
}

.fr-container-90{
  width: 90%;
  margin: 0 auto;
}

.fr-color-white{
  color: white;
}

.fr-color-p{
  color: #BBCDFF;
}

.fr-container-font{
  text-align: center;
  background-color: white;
  border: 1px solid blue;
  border-radius: 5px;
}

@media all and (max-width:767px){
  .fr-color-white{
    margin-top: 82px ;
  }

}

